html { height: 100% }
body { height: 100%; margin: 0; padding: 0; }

.top {
	background: linear-gradient(to bottom, #00cccc 0%,#0099cc 40%,#0099cc 100%);
	height:150px;
	width:100%;
}

.top1 {
	background-image: url('./../img/icon.png');
	background-size: contain;
	background-repeat: no-repeat;
	height: 100%;
	width: 150px;
	float: left;
}

.top2 {
	background-color: #000000;
	height: 100%;
	width: 75%;
	float: left;
}

.top3 {
	height: 100%;
	width: 150px;
	float: left;
}

.top4 {
	height: 100%;
	width: 150px;
	float: left;
}

.top5 {
	height: 100%;
	width: 150px;
	float: left;
}

.body {
	background: transparent;
	height:100%;
	width:100%
}

.bottom {
	margin-top: 25%;
	margin-bottom: 0px;
	background: linear-gradient(to top, #00cccc 0%,#0099cc 40%,#0099cc 100%);
	height:50px;
	width:100%
}
